IP
192.168.1.213

MIN_ID	MAX_ID
1	20

CGMiner-More-Option
--avalon8-freq 0:0:0:300 --avalon8-voltage-level 1
--avalon8-freq 0:0:0:350 --avalon8-voltage-level 2
--avalon8-freq 0:0:0:400 --avalon8-voltage-level 3
--avalon8-freq 0:0:0:450 --avalon8-voltage-level 4
--avalon8-freq 0:0:0:500 --avalon8-voltage-level 5
--avalon8-freq 0:0:0:550 --avalon8-voltage-level 6
--avalon8-freq 0:0:0:600 --avalon8-voltage-level 7
--avalon8-freq 0:0:0:650 --avalon8-voltage-level 8
